<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Where Am I?</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
	<!-- TODO STEP 1: send user to Foursquare to authorize -->
    <a href=""><img src="https://playfoursquare.s3.amazonaws.com/press/logo/connect-blue.png" /></a>
</body>
</html>