<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Where Am I?</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
</head>
<body>
	<h1>No User Found!</h1>
    <p>Sorry we don't seem to know about this user. Have them <a href="https://foursquare.com/oauth2/authenticate?client_id=5PAG3TONUPRTD0O5GYUAJXF4E3QBDSP22LWUYDODYUEMVA1V&amp;response_type=code&amp;redirect_uri=http://whereami-sample.herokuapp.com/redirect_uri">connect</a>?</p>
</body>
</html>